@font-face {
    font-family: 'Proxima Nova Black Italic';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova Black Italic'),url('../fonts/Mark Simonson - Proxima Nova Black Italic.otf');
  }

  @font-face {
    font-family: 'Proxima Nova Black';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova Black'),url('../fonts/Mark Simonson - Proxima Nova Black.otf');
  }

  @font-face {
    font-family: 'Proxima Nova Bold Italic';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova Bold Italic'),url('../fonts/Mark Simonson - Proxima Nova Bold Italic.otf');
  }

  @font-face {
    font-family: 'Proxima Nova Bold';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova Bold'),url('../fonts/Mark Simonson - Proxima Nova Bold.otf');
  }

  @font-face {
    font-family: 'Proxima Nova Extrabold Italic';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova Extrabold Italic'),url('../fonts/Mark Simonson - Proxima Nova Extrabold Italic.otf');
  }
  
  @font-face {
    font-family: 'Proxima Nova Extrabold';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova Extrabold'),url('../fonts/Mark Simonson - Proxima Nova Extrabold.otf');
  }

  @font-face {
    font-family: 'Proxima Nova Light Italic';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova Light Italic'),url('../fonts/Mark Simonson - Proxima Nova Light Italic.otf');
  }

  @font-face {
    font-family: 'Proxima Nova Light';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova Light'),url('../fonts/Mark Simonson - Proxima Nova Light.otf');
  }

  @font-face {
    font-family: 'Proxima Nova Regular Italic';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova Regular Italic'),url('../fonts/Mark Simonson - Proxima Nova Regular Italic.otf');
  }

  @font-face {
    font-family: 'Proxima Nova Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova Regular'),url('../fonts/Mark Simonson - Proxima Nova Regular.otf');
  }

  @font-face {
    font-family: 'Proxima Nova Semibold Italic';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova Semibold Italic'),url('../fonts/Mark Simonson - Proxima Nova Semibold Italic.otf');
  }

  @font-face {
    font-family: 'Proxima Nova Semibold';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova Semibold'),url('../fonts/Mark Simonson - Proxima Nova Semibold.otf');
  }

  @font-face {
    font-family: 'Proxima Nova Thin Italic';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova Thin Italic'),url('../fonts/Mark Simonson - Proxima Nova Thin Italic.otf');
  }

  @font-face {
    font-family: 'Proxima Nova Thin';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova Thin'),url('../fonts/Mark Simonson - Proxima Nova Thin.otf');
  }