mixin lookbook(image, main_shot, about)
    .book-container
            img(src="assets/img-min/01-home/"+image, alt="", srcset="")
            .details
                .main-shot #{main_shot}
                .sub-shot LOOKBOOK
                .about #{about}
                a.home-cta VIEW NOW


.lookbook-wrapper
    +lookbook('men-lookbook.png',"MEN'S", 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis veniam praesentium ea fugit. Quia ipsa eaque deserunt pariatur eius temporibus neque, id tempora repellat hic alias quae illum voluptatem fuga!')
    +lookbook('women-lookbook.png',"WOMEN'S", 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis veniam praesentium ea fugit. Quia ipsa eaque deserunt pariatur eius temporibus neque, id tempora repellat hic alias quae illum voluptatem fuga!')
    +lookbook('your-lookbook.png',"YOUR", 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis veniam praesentium ea fugit. Quia ipsa eaque deserunt pariatur eius temporibus neque, id tempora repellat hic alias quae illum voluptatem fuga!')