
<div class="categories-holder wrapper_90">
  <hr class="bar-section"/>
  <div class="menu-selection"><a href="http://">POPULAR</a><a href="http://">NEW ARRIVALS</a><a href="http://">BEST SELLERS</a><a href="http://">SPECIAL DEALS</a><a href="http://">COMING SOON</a></div>
  <div class="mobile-menu-selection">Select Category
    <select class="mobile-dropdown">
      <option value="">POPULAR</option>
      <option value="">NEW ARRIVALS</option>
      <option value="">BEST SELLERS</option>
      <option value="">SPECIAL DEALS</option>
      <option value="">COMING SOON</option>
    </select>
  </div>
  <div class="grid-window">
    <div class="grid-displaysp1">
      <div class="main-card"><img class="backimg" src="assets/img-min/01-home/display1.png" alt="" srcset=""/>
        <div class="price-tag"><sup><i class="fa fa-euro"></i></sup>89.99</div>
        <div class="hover-img">
          <div class="front-img"><img src="assets/img-min/01-home/display1.png" alt="" srcset=""/></div>
          <div class="back-img"><img src="assets/img-min/01-home/display1.png" alt="" srcset=""/></div>
        </div>
      </div>
      <div class="details-card">
        <div class="title">MENS DART BLACK CASUAL TEE <br><sup><i class="fa fa-euro"></i></sup> 89.99</div>
        <div class="about">Classic casual t-shirt for men on the move. 100% cotton</div>
        <div class="cta"><i class="fa fa-shopping-cart"></i><i class="fa fa-heart"></i><i class="fa fa-compress-arrow">&#61542;   </i></div>
      </div>
    </div>
    <div class="grid-displaysp1">
      <div class="main-card"><img class="backimg" src="assets/img-min/01-home/display2.png" alt="" srcset=""/>
        <div class="price-tag"><sup><i class="fa fa-euro"></i></sup>47.50</div>
        <div class="hover-img">
          <div class="front-img"><img src="assets/img-min/01-home/display2.png" alt="" srcset=""/></div>
          <div class="back-img"><img src="assets/img-min/01-home/display2.png" alt="" srcset=""/></div>
        </div>
      </div>
      <div class="details-card">
        <div class="title">WOMENS WHITE DESING CASUAL TEE <br><sup><i class="fa fa-euro"></i></sup> 47.50</div>
        <div class="about">Classic casual t-shirt for women on the move. 100% cotton</div>
        <div class="cta"><i class="fa fa-shopping-cart"></i><i class="fa fa-heart"></i><i class="fa fa-compress-arrow">&#61542;   </i></div>
      </div>
    </div>
    <div class="grid-displaysp2">
      <div class="main-card"><img class="backimg" src="assets/img-min/01-home/display3.png" alt="" srcset=""/>
        <div class="price-tag"><sup><i class="fa fa-euro"></i></sup>89.99</div>
        <div class="hover-img">
          <div class="front-img"><img src="assets/img-min/01-home/display3.png" alt="" srcset=""/></div>
          <div class="back-img"><img src="assets/img-min/01-home/display3.png" alt="" srcset=""/></div>
        </div>
      </div>
      <div class="details-card">
        <div class="title">MENS BLACK SWEATER <br><sup><i class="fa fa-euro"></i></sup> 89.99</div>
        <div class="about">Classic sweater for men on the move. 100% cotton</div>
        <div class="cta"><i class="fa fa-shopping-cart"></i><i class="fa fa-heart"></i><i class="fa fa-compress-arrow">&#61542; </i></div>
      </div>
    </div>
    <div class="grid-displaysp2">
      <div class="main-card"><img class="backimg" src="assets/img-min/01-home/display4.png" alt="" srcset=""/>
        <div class="price-tag"><sup><i class="fa fa-euro"></i></sup>69.95</div>
        <div class="hover-img">
          <div class="front-img"><img src="assets/img-min/01-home/display4.png" alt="" srcset=""/></div>
          <div class="back-img"><img src="assets/img-min/01-home/display4.png" alt="" srcset=""/></div>
        </div>
      </div>
      <div class="details-card">
        <div class="title">MENS LIGHT BLUE CASUAL TEE <br><sup><i class="fa fa-euro"></i></sup> 69.95</div>
        <div class="about">Classic casual t-shirt for men on the move. 100% cotton</div>
        <div class="cta"><i class="fa fa-shopping-cart"></i><i class="fa fa-heart"></i><i class="fa fa-compress-arrow">&#61542; </i></div>
      </div>
    </div>
    <div class="grid-displaysp1">
      <div class="main-card"><img class="backimg" src="assets/img-min/01-home/display5.png" alt="" srcset=""/>
        <div class="price-tag"><sup><i class="fa fa-euro"></i></sup>29.95</div>
        <div class="hover-img">
          <div class="front-img"><img src="assets/img-min/01-home/display5-thumb-back.png" alt="" srcset=""/></div>
          <div class="back-img"><img src="assets/img-min/01-home/display5-thumb-front.png" alt="" srcset=""/></div>
        </div>
      </div>
      <div class="details-card">
        <div class="title">WOMENS BURNT ORANGE CASUAL TEE <br><sup><i class="fa fa-euro"></i></sup> 29.95</div>
        <div class="about">Classic casual t-shirt for women on the move. 100% cotton</div>
        <div class="cta"><i class="fa fa-shopping-cart"></i><i class="fa fa-heart"></i><i class="fa fa-compress-arrow">&#61542;   </i></div>
      </div>
    </div>
    <div class="grid-displaysp1">
      <div class="main-card"><img class="backimg" src="assets/img-min/01-home/display6.png" alt="" srcset=""/>
        <div class="price-tag"><sup><i class="fa fa-euro"></i></sup>34.79</div>
        <div class="hover-img">
          <div class="front-img"><img src="assets/img-min/01-home/display6.png" alt="" srcset=""/></div>
          <div class="back-img"><img src="assets/img-min/01-home/display6.png" alt="" srcset=""/></div>
        </div>
      </div>
      <div class="details-card">
        <div class="title">WOMENS DARK GREEN CASUAL TEE <br><sup><i class="fa fa-euro"></i></sup> 34.79</div>
        <div class="about">Classic casual t-shirt for women on the move. 100% cotton</div>
        <div class="cta"><i class="fa fa-shopping-cart"></i><i class="fa fa-heart"></i><i class="fa fa-compress-arrow">&#61542;   </i></div>
      </div>
    </div>
  </div>
  <hr class="bar-section"/>
</div>