
<footer>
  <div class="footer-container">
    <div class="wrapper_70">
      <div class="list-container">
        <div class="list">INFORMATION
          <ul>
            <li><a href="http://">The brand</a></li>
            <li><a href="http://">Local stores</a></li>
            <li><a href="http://">Customer service</a></li>
            <li><a href="http://">Privacy &amp; cookies</a></li>
            <li><a href="http://">Site map</a></li>
          </ul>
        </div>
        <div class="list">WHY BUY FROM US
          <ul>
            <li><a href="http://">Shipping &amp; returns</a></li>
            <li><a href="http://">Secure shopping</a></li>
            <li><a href="http://">Testimonials</a></li>
            <li><a href="http://">Award winning</a></li>
            <li><a href="http://">Ethical trading</a></li>
          </ul>
        </div>
        <div class="list">YOUR ACCOUNT
          <ul>
            <li><a href="http://">Sign in</a></li>
            <li><a href="http://">Register</a></li>
            <li><a href="http://">View cart</a></li>
            <li><a href="http://">View your lookbook</a></li>
            <li><a href="http://">Track an order</a></li>
            <li><a href="http://">Update information</a></li>
          </ul>
        </div>
        <div class="list">LOOKBOOK
          <ul>
            <li><a href="http://">Latest posts</a></li>
            <li><a href="http://">Men's lookbook</a></li>
            <li><a href="http://">Women's lookbook</a></li>
            <li><a href="http://">Lookbooks RSS feed</a></li>
            <li><a href="http://">View your lookbook</a></li>
            <li><a href="http://">Delete your lookbook</a></li>
          </ul>
        </div>
        <div class="list">CONTACT
          <ul>
            <li><a href="http://">Head Office Aven Fashion</a></li>
            <li><a href="http://">180-182 Regent Street London</a></li>
            <li><a href="http://">Telephone: 0706-378-882</a></li>
            <li><a href="http://">Email: support@yourwebsite</a></li>
          </ul>
        </div>
      </div>
      <div class="box-content"><b class="main-info">AWARD WINNER <br></b><b class="sub-detail">FASHION AWARDS 2016</b></div>
      <div class="box-content social"><a href="http://"><i class="fa fa-facebook-f"></i></a><a href="http://"><i class="fa fa-twitter"></i></a><a href="http://"><i class="fa fa-instagram"></i></a><a href="http://"><i class="fa fa-pinterest"></i></a></div>
    </div>
    <div class="black-finish">
      <div class="wrapper_70">
        <div class="copy">&copy; 2020 Avenue Fashion<sup>TM</sup></div>
        <div class="dev">Designed by Nurudeen AbdulMalik    Copied From RobbyDesign.com</div>
      </div>
    </div>
  </div>
</footer>