
<nav class="home-nav">
  <div class="nav-upper-holder">
    <div class="nav-content wrapper_70">
      <ul>
        <li class="currency-holder">Currency: 
          <select name="currency_select">
            <option value="GBP">GBP</option>
            <option value="BitCoin">BitCoin</option>
            <option value="Ethereum">Ethereum</option>
            <option value="dollar">Dollar $</option>
            <option value="Euro #">Euro #</option>
          </select><i class="fa fa-caret-down"></i>
        </li>
        <li> <a href="http://">Register</a></li>
        <li> <a href="http://">Sign In</a></li>
        <li> <a href="http://"><i class="fa fa-cart-arrow-down fa-2x"></i> empty <i class="fa fa-angle-down"></i></a></li>
      </ul>
    </div>
    <div class="nav-mobile">
      <ul>
        <li class="cancel-btn" id="cancel-modal"><i class="fa fa-times fa-2x"></i></li>
        <li class="nav-click">MENS <i class="fa fa-angle-right">  </i></li>
        <li class="nav-click">WOMENS <i class="fa fa-angle-right">  </i></li>
        <li class="nav-click">THE BRAND <i class="fa fa-angle-right">  </i></li>
        <li class="nav-click">LOCAL STORES <i class="fa fa-angle-right">  </i></li>
        <li class="nav-click">LOOK BOOK <i class="fa fa-angle-right">  </i></li>
        <li class="search-holder"><input type="search" name="search" id="search_box" placeholder="Search here.."/><i class="fa fa-search" id="searclogo"></i></li>
        <li class="currency-holder">Currency: 
          <select name="currency_select">
            <option value="GBP">GBP</option>
            <option value="BitCoin">BitCoin</option>
            <option value="Ethereum">Ethereum</option>
            <option value="dollar">Dollar $</option>
            <option value="Euro #">Euro #</option>
          </select><i class="fa fa-caret-down"></i>
        </li>
        <li> <a href="http://">Register</a></li>
        <li> <a href="http://">Sign In</a></li>
        <li> <a href="http://"><i class="fa fa-cart-arrow-down fa-2x"></i> empty <i class="fa fa-angle-down"></i></a></li>
      </ul>
      <div class="content-holder">
        <div class="content-sub">
          <div class="back-btn"><i class="fa fa-angle-left"></i> MAIN MENU</div>
          <div class="title">CASUALS
            <ul class="links">
              <li><a href="http://">Jackets</a></li>
              <li><a href="http://">Hoodies &amp; Sweatshirts</a></li>
              <li><a href="http://">Polo Shirts</a></li>
              <li><a href="http://">Sportswear</a></li>
              <li><a href="http://">Trousers &amp; Chinos</a></li>
              <li><a href="http://">T Shirts</a></li>
            </ul>
          </div>
          <div class="title">FORMAL
            <ul class="links">
              <li><a href="http://">Jackets</a></li>
              <li><a href="http://">Shirts</a></li>
              <li><a href="http://">Suits</a></li>
              <li><a href="http://">Trousers</a></li>
            </ul>
          </div>
          <div class="message-box"><b class="main">AUTUMN SALE</b><b class="sub-main">UP TO 50% OFF</b></div>
        </div>
        <div class="content-sub">
          <div class="back-btn"><i class="fa fa-angle-left"></i> MAIN MENU</div>
          <div class="title">OUR LOOKBOOK
            <ul class="links">
              <li><a href="http://">Latest Post(mixed)</a></li>
              <li><a href="http://">Men's Lookbook</a></li>
              <li><a href="http://">Women's Lookbook</a></li>
            </ul>
          </div>
          <div class="title">YOUR LOOKBOOK
            <ul class="links">
              <li><a href="http://">View and Edit</a></li>
              <li><a href="http://">Share</a></li>
              <li><a href="http://">Delete</a></li>
            </ul>
          </div>
          <div class="message-box"><b class="main">AUTUMN SALE</b><b class="sub-main">UP TO 50% OFF</b></div>
        </div>
        <div class="content-sub">
          <div class="back-btn"><i class="fa fa-angle-left"></i> MAIN MENU</div>
          <div class="title">OUR LOOKBOOK
            <ul class="links">
              <li><a href="http://">Latest Post(mixed)</a></li>
              <li><a href="http://">Men's Lookbook</a></li>
              <li><a href="http://">Women's Lookbook</a></li>
            </ul>
          </div>
          <div class="title">YOUR LOOKBOOK
            <ul class="links">
              <li><a href="http://">View and Edit</a></li>
              <li><a href="http://">Share</a></li>
              <li><a href="http://">Delete</a></li>
            </ul>
          </div>
          <div class="message-box"><b class="main">AUTUMN SALE</b><b class="sub-main">UP TO 50% OFF</b></div>
        </div>
        <div class="content-sub">
          <div class="back-btn"><i class="fa fa-angle-left"></i> MAIN MENU</div>
          <div class="title">OUR LOOKBOOK
            <ul class="links">
              <li><a href="http://">Latest Post(mixed)</a></li>
              <li><a href="http://">Men's Lookbook</a></li>
              <li><a href="http://">Women's Lookbook</a></li>
            </ul>
          </div>
          <div class="title">YOUR LOOKBOOK
            <ul class="links">
              <li><a href="http://">View and Edit</a></li>
              <li><a href="http://">Share</a></li>
              <li><a href="http://">Delete</a></li>
            </ul>
          </div>
          <div class="message-box"><b class="main">AUTUMN SALE</b><b class="sub-main">UP TO 50% OFF</b></div>
        </div>
        <div class="content-sub">
          <div class="back-btn"><i class="fa fa-angle-left"></i> MAIN MENU</div>
          <div class="title">OUR LOOKBOOK
            <ul class="links">
              <li><a href="http://">Latest Post(mixed)</a></li>
              <li><a href="http://">Men's Lookbook</a></li>
              <li><a href="http://">Women's Lookbook</a></li>
            </ul>
          </div>
          <div class="title">YOUR LOOKBOOK
            <ul class="links">
              <li><a href="http://">View and Edit</a></li>
              <li><a href="http://">Share</a></li>
              <li><a href="http://">Delete</a></li>
            </ul>
          </div>
          <div class="message-box"><b class="main">AUTUMN SALE</b><b class="sub-main">UP TO 50% OFF</b></div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-below-holder wrapper_11">
    <div class="brand-title">AVENUE <span class="thin-shot">FASHION</span></div>
    <div class="nav-main">
      <ul>
        <li class="nav-click">MENS <i class="fa fa-angle-down"></i>
          <div class="content-sub">
            <div class="title">CASUALS
              <ul class="links">
                <li><a href="http://">Jackets</a></li>
                <li><a href="http://">Hoodies &amp; Sweatshirts</a></li>
                <li><a href="http://">Polo Shirts</a></li>
                <li><a href="http://">Sportswear</a></li>
                <li><a href="http://">Trousers &amp; Chinos</a></li>
                <li><a href="http://">T Shirts</a></li>
              </ul>
            </div>
            <div class="title">FORMAL
              <ul class="links">
                <li><a href="http://">Jackets</a></li>
                <li><a href="http://">Shirts</a></li>
                <li><a href="http://">Suits</a></li>
                <li><a href="http://">Trousers</a></li>
              </ul>
            </div>
            <div class="message-box"><b class="main">AUTUMN SALE</b><b class="sub-main">UP TO 50% OFF</b></div>
          </div>
        </li>
        <li class="nav-click">WOMENS <i class="fa fa-angle-down"></i>
          <div class="content-sub">
            <div class="title">OUR LOOKBOOK
              <ul class="links">
                <li><a href="http://">Latest Post(mixed)</a></li>
                <li><a href="http://">Men's Lookbook</a></li>
                <li><a href="http://">Women's Lookbook</a></li>
              </ul>
            </div>
            <div class="title">YOUR LOOKBOOK
              <ul class="links">
                <li><a href="http://">View and Edit</a></li>
                <li><a href="http://">Share</a></li>
                <li><a href="http://">Delete</a></li>
              </ul>
            </div>
            <div class="message-box"><b class="main">AUTUMN SALE</b><b class="sub-main">UP TO 50% OFF</b></div>
          </div>
        </li>
        <li class="nav-click">THE BRAND <i class="fa fa-angle-down"></i>
          <div class="content-sub">
            <div class="title">OUR LOOKBOOK
              <ul class="links">
                <li><a href="http://">Latest Post(mixed)</a></li>
                <li><a href="http://">Men's Lookbook</a></li>
                <li><a href="http://">Women's Lookbook</a></li>
              </ul>
            </div>
            <div class="title">YOUR LOOKBOOK
              <ul class="links">
                <li><a href="http://">View and Edit</a></li>
                <li><a href="http://">Share</a></li>
                <li><a href="http://">Delete</a></li>
              </ul>
            </div>
            <div class="message-box"><b class="main">AUTUMN SALE</b><b class="sub-main">UP TO 50% OFF</b></div>
          </div>
        </li>
        <li class="nav-click">LOCAL STORES <i class="fa fa-angle-down"></i>
          <div class="content-sub">
            <div class="title">OUR LOOKBOOK
              <ul class="links">
                <li><a href="http://">Latest Post(mixed)</a></li>
                <li><a href="http://">Men's Lookbook</a></li>
                <li><a href="http://">Women's Lookbook</a></li>
              </ul>
            </div>
            <div class="title">YOUR LOOKBOOK
              <ul class="links">
                <li><a href="http://">View and Edit</a></li>
                <li><a href="http://">Share</a></li>
                <li><a href="http://">Delete</a></li>
              </ul>
            </div>
            <div class="message-box"><b class="main">AUTUMN SALE</b><b class="sub-main">UP TO 50% OFF</b></div>
          </div>
        </li>
        <li class="nav-click">LOOK BOOK <i class="fa fa-angle-down"></i>
          <div class="content-sub">
            <div class="title">OUR LOOKBOOK
              <ul class="links">
                <li><a href="http://">Latest Post(mixed)</a></li>
                <li><a href="http://">Men's Lookbook</a></li>
                <li><a href="http://">Women's Lookbook</a></li>
              </ul>
            </div>
            <div class="title">YOUR LOOKBOOK
              <ul class="links">
                <li><a href="http://">View and Edit</a></li>
                <li><a href="http://">Share</a></li>
                <li><a href="http://">Delete</a></li>
              </ul>
            </div>
            <div class="message-box"><b class="main">AUTUMN SALE</b><b class="sub-main">UP TO 50% OFF</b></div>
          </div>
        </li>
        <li><input type="search" name="search" id="search_box" placeholder="Search here.."/><i class="fa fa-search" id="searclogo"></i></li>
      </ul>
    </div>
    <div class="nav-icon" id="menu-click"><i class="fa fa-bars fa-3x"></i></div>
  </div><a class="home-cta" href="http://">SHOP MEN'S COLLECTION</a>
</nav>